<a href="https://colab.research.google.com/github/davidhan1/scientific-computation/blob/master/pd/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series([1,2,3,4],index = ['a','b','c','d'])

In [ ]:
print(s)

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
data = {'a':[1,2],'b':[231,111]}
df = pd.DataFrame(data, index = [3,1])

In [ ]:
print(df)

   a    b
3  1  231
1  2  111

In [ ]:
df.to_csv('test.csv')

In [ ]:
pd.read_csv('test.csv',header=None)

     0  1    2
0  NaN  a    b
1  3.0  1  231
2  1.0  2  111

In [ ]:
help(pd.Series.loc)

In [ ]:
df[1:]

   a    b
1  2  111

In [ ]:
df.sum()

a      3
b    342
dtype: int64

In [ ]:
df.describe()

              a           b
count  2.000000    2.000000
mean   1.500000  171.000000
std    0.707107   84.852814
min    1.000000  111.000000
25%    1.250000  141.000000
50%    1.500000  171.000000
75%    1.750000  201.000000
max    2.000000  231.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 3 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       2 non-null      int64
 1   b       2 non-null      int64
dtypes: int64(2)
memory usage: 48.0 bytes

In [ ]:
df.shape

(2, 2)

In [ ]:
df.index

Int64Index([3, 1], dtype='int64')

In [ ]:
df.columns

Index(['a', 'b'], dtype='object')

In [ ]:
f=lambda x:x*2
df.apply(f)

   a    b
3  2  462
1  4  222

In [ ]:
df.applymap(f)

   a    b
3  2  462
1  4  222

In [ ]:
df.iloc[0]

a      1
b    231
Name: 3, dtype: int64

In [ ]:
df.iloc[0,0]

1

In [ ]:
df.iloc[:,0]

3    1
1    2
Name: a, dtype: int64

In [ ]:
df.loc[3]

a      1
b    231
Name: 3, dtype: int64

In [ ]:
df.loc[:,'a']

3    1
1    2
Name: a, dtype: int64

In [ ]:
df.drop('a', axis = 1)

     b
3  231
1  111

In [ ]:
print(df)

   a    b
3  1  231
1  2  111

In [ ]:
print(s)

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
s.drop(['a','c'])

b    2
d    4
dtype: int64